.menu {
    position: absolute;
    right: 11%;
    top: 50px;
    &__hamburger {
        width: 119px;
        height: 114px;
    }
    &__list {
        background-color: $colorTextActive;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        min-width: 725px;
        padding-right: 119px;
        padding-left: 25px;
        box-sizing: border-box;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        display: none;
        z-index: -5;
        &_active {
            display: flex;
            z-index: 1;
            animation: menu 500ms;
        }
    }
    &__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 1.786;
        padding: 30px;
        text-transform: uppercase;
        color: $white;
        transition-duration: 500ms;
        transition-property: color;
        &:hover {
            color: $black;
        }
    }
}

@keyframes menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}